/* reset styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 255, 0.838), rgba(255, 255, 0, 0.5));
}


.parent-container {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.calculator {
    width: 13em;
    height: 26.5em;
    background: grey;
    border-radius: 10px;
    border: 5px solid black;
    padding: 1em;
    font-size: 1.4em;
}

.screen-container {
    background: #1C1C1C;
    color: #D4D4D2;
}

/* display screen */
.display {
    background: transparent;
    color: #D4D4D2;
    border: 0;
    font-size: 1.5em;
    max-width: 95%;
    text-align: right;
}

/* calculator screen and button layout */
.calculator {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
                         "calc-screen"
                         "pad";
    gap: .3em;
}

.screen-container {
    width: 10.5em;
    height: 100%;
    grid-area: calc-screen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.numHolder {
    max-width: 7em;
    text-align: right;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: .9em;
}

.pad {
    grid-area: pad;
}

/* pad layout */
.functionality-buttons {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.num-section {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.zero-button {
    grid-template-columns: span 2;
}

.operators-section {
    display: inline-grid;
}


.pad {
    display: inline-grid;
    grid-template-columns: 79% 21%;
    grid-template-rows:  20% 80%;
    grid-template-areas: 
                        "functionality operator"
                        "num-pad operator";
}

.functionality-buttons {
    grid-area: functionality;
}

.num-section {
    grid-area: num-pad;
}

.operators-section {
    grid-area: operator;
    justify-self: center;
}

/* buttons */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#zero-button {
    width: 90%;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    border-radius: 22px;
}

.num-section button:nth-last-child(-n + 2) {
    font-size: 1em;
}

/* color styling */
.functionality-buttons button {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.num-section button {
    background-color: #505050;
    color: #D4D4D2;
}

.operators-section>* {
    background-color: #FF9500;
    color: #D4D4D2;
}
